* {
  box-sizing: border-box;
}

body {
  background-color: #f3f0a1;
  position: relative;
}

#navh {
  /*height:220px;*/
  background-color: #3c4884;
}

#tv {
  border-radius: 50px;
}

#heading {
  /*margin-left:25px;*/
  /*display: inline-block;*/
  font-family: 'Abril Fatface', cursive;
  color: #cccccc;
}

h2 {
  line-height: 1.5;
  /*margin-left:100px;*/
}

#block3 {
  position: relative;
}

#image1 {
  width: 150px;
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
}

#image2 {
  height: 100px;
  width: auto;
  margin-top: 20px;
  position: absolute;
  z-index: 1;
}

#hrule {
  color: white;
  width: 95%;
}

#navi-b a {
  font-family: 'Francois One', sans-serif;
  font-size: 14px;
  color: #cccccc;
  /*padding-left:15px;
	padding-right: 15px;*/
}

#kural {
  color: black;
  margin-left: 20px;
}


/*#navh #nav-h
{
	margin-top:-20px;
}*/


/*#login a
{
	margin-left:30px;
	margin-top:155px;
}*/


/*.navbar-header h2
{
	margin-top:0;
}*/

#n-cont {}


/*#navi-b .nav
{
	margin-left:20px;
	margin-bottom:20px;

}*/

#n-cont button {
  margin-left: 30px;
  font-family: 'Francois One', sans-serif;
}


/*.container #image3
{
	width:1000px;
	height:auto;
}*/

.jumbotron {
  height: 500px;
  background-image: url('https://tedconfblog.files.wordpress.com/2014/08/madebymany-083.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #C9A798/*#96A8D9*/
  ;
  background-blend-mode: screen;
  margin-bottom: 0px;
}

.jumbotron #logo {
  width: 150px;
  height: 250px;
  float: left;
  border: 2px solid black;
  border-radius: 50%;
  margin-top: 60px;
}

#intro {
  margin-top: 60px;
  margin-left: 50px;
  width: 800px;
  float: left;
  /*font-family: 'Old Standard TT', serif;
	font-family: 'Farsan', cursive;;*/
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  color: #4F2412/*#191970*/
  ;
  font-weight: bold;
  /*font-style:italic;*/
}

#m-cont {
  height: 500px;
  background-color: #e6a45a;
   color: #3c4884;
}

#head {
  text-align: center;
}

#head img {
  width: 40px;
  height: auto;
}

#head span {
  font-size: 3em;
}

#dtls img {
  width: 100px;
  height: auto;
}

#dtls .pointer {
  width: 40px;
  height: auto;
  margin-left: 100px;
}

#ptr {
  padding-left: 30px;
}

#dtls #portal {
  background-color: black;
  border: 1px solid black;
  height: 240px;
  margin-top: 25px;
}

#dtls #ptr .bullets {
  color: #3c4884;
  font-family: 'Libre Baskerville', serif;
  font-size: 14px;
  margin-right: -30px;
}

#dtls #ptr #s-head {
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: #3c4884;
}

#dtls #portal p {
  color: white;
  font-size: 24px;
  font-style: italic;
  margin-top: 50px;
}
#head span
{color:#ff0000;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

/*------------------------------------------------------*/

@media (min-width: 992px) and (max-width: 1199px) {
  #intro {
    width: 600px;
    font-size: 18px;
  }
  /*#heading
{
	margin-left:-10vw;
	}*/
  #navi-b a {
    padding: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #navh {
    height: 220px;
  }
  #intro {
    width: 500px;
    font-size: 16px;
  }
  #navi-b {
    margin-top: 30px;
    margin-left: -80px;
    margin-right: -30px;
  }
  #navi-b a {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 767px) {
  /*#heading
{
	margin-left:-30vw;
	}*/
  #heading {
    font-size: 4vw;
    /*margin-top:50px;*/
  }
  #intro {
    width: 400px;
    font-size: 14px;
  }
  #n-cont #toggle-b {}
  #navh {
    height: 170px;
  }
}

@media (max-width: 479px) {
  #heading {
    font-size: 4vw;
    /*margin-top:60px;*/
  }
  #navh {
    height: 180px;
  }
  #n-cont #toggle-b {
    margin-top: 30px;
  }
}